.color{
    background-color: red;
    color: white;
    font-size: 5rem;
}


.text{
    font-size: 15rem;
    letter-spacing: 1.5rem;
}

body{
    background-color: gray;
}


.blue{
    background-color: blue;
    color: white;
}

.btn{
    background-color: red;
    color: white;
    border: none;
    display:block;
    margin-top: 5px;
    
}
